<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form *ngIf="!isLoading" (submit)="onSavePost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        #title="ngModel"
        matInput
        type="text"
        name="title"
        placeholder="Post Title"
        [ngModel]="post?.title"
        required
      />
      <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        #content="ngModel"
        matInput
        rows="4"
        name="content"
        placeholder="Post Content"
        [ngModel]="post?.content"
        required
      ></textarea>
      <mat-error *ngIf="content.invalid">Please enter post content.</mat-error>
    </mat-form-field>
    <button
      [disabled]="postForm.invalid"
      color="primary"
      mat-raised-button
      type="submit"
    >
      Save
    </button>
  </form>
</mat-card>
