<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" *ngIf="!isLoading" (submit)="onSavePost()">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="title"
        placeholder="Post Title"
      />
      <mat-error *ngIf="this.form.get('title').invalid"
        >Please enter a post title.</mat-error
      >
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">
        Pick Image
      </button>
      <input type="file" #filePicker (change)="onImagePicked($event)" />
    </div>
    <div
      class="image-preview"
      *ngIf="imagePreview && this.form.get('image').valid"
    >
      <img src="{{ imagePreview }}" [alt]="this.form.value.title" />
    </div>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        formControlName="content"
        placeholder="Post Content"
      ></textarea>
      <mat-error *ngIf="this.form.get('content').invalid"
        >Please enter post content.</mat-error
      >
    </mat-form-field>
    <button
      [disabled]="this.form.invalid"
      color="primary"
      mat-raised-button
      type="submit"
    >
      Save
    </button>
  </form>
</mat-card>
